header
{
	display: flex;
	flex-wrap: wrap;
}

header section
{
	height: calc(100% * 1/3);
}

#modules-top
{
	align-content: start;
}

#modules-middle
{
	align-content: center;
}

#modules-bottom
{
	align-content: end;
}

#active-app-name
{
	writing-mode: vertical-rl;
	text-orientation: sideways;
}
