body {
	font-family: 'Open Sans', sans-serif;
}

.message {
	margin: 10px 0;
	padding: 12px 16px;
	border-radius: 18px;
	word-wrap: break-word;
}

.user-message {
	background-color: #007bff;
	color: white;
	margin-left: auto;
	margin-right: 0;
	text-align: right;
}

.other-user-message {
	background-color: #f1f1f1;
	color: #333;
	margin-left: 0;
	margin-right: auto;
	text-align: left;
}

.message-container {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.message-actions button {
	text-align: center;
	vertical-align: middle;
	background-color: #333;
}

.edit-message {
	color: yellow;
}

.delete-message {
	color: red
}

button,
input {
	border: none;
	background-color: transparent;
	outline: none;
}

button {
	cursor: pointer;
}

#messageInputContainer {
	display: flex;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
	background-color: #f9f9f9;
}

#messageInput {
	flex: 1;
	padding: 10px;
}

#sendMessageButton {
	display: block;
	background-color: #21C063;
	color: black;
	border-radius: 50%;
	padding: 0px 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.material-symbols-rounded-fill {
	font-variation-settings:
		'FILL' 1
}
